// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Bordes
$borde: 2px solid;

// Colors
$white:#ffff;
$bluedark:#2d3842;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f4770e;
$yellow: #eee848;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
